.blockSearch,
.blockSearch * {
    box-sizing: border-box;
}
.blockSearch {
    background-color: #fff;
    border: 1px solid #000;
    width: 100%;
    max-width: 860px;
    border-radius: 30px;
}
.blockSearchInner {
    width: 100%;
    margin: 0 var(--scrollbar-width) 0 0;
}

@media (max-width: 1330px) {
    .blockSearchInner {
        margin: 0 auto 0 20px;
        width: calc(100% - var(--scrollbar-width) - 40px);
    }
}

@media (max-width: 768px){
    .blockSearch {
        margin-top: 15px;
    }
}

.tlContainer {
    padding: 10px 30px;
}

.blockSearchInner .tlContainer {
    background-color: #fff;
    border: 1px solid #000;
    max-width: 1220px;
    margin: 20px auto;
    border-radius: 30px;
}