.reviewsContainer{
    width: 100%;
    display: flex;
}

.reviewsContainer > section:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
}

.reviewsContainer > section > span{
    letter-spacing: 2px;
    font-size: 1.5rem;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
}

.commentsContainer{
    width: 55%;
    height: 80vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.noReviews{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.commentsContainer > button{
    position: fixed;
    bottom: 0;
    left: 13%;
    width: 20%;
    height: 50px;
    background-color: #000;
    border: none;
    color: #FFF;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.reviews{
    list-style-type: none;
    width: 70%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.reviews > li{
    border: 1.5px solid black;
    border-radius: 50px;
    padding-left: 4%;
    margin-top: 1.5%;
}

.reviews > li:last-child{
    margin-bottom: 60px;
}

.reviews > li > p{
    font-size: 1.2rem;
}


@media (max-width: 1024px){
    .commentsContainer > button{
        width: 27%;
        left: 9%;
    }
}
  
@media (max-width: 768px){
    .commentsContainer{
        position: relative;
    }

    .reviewsContainer{
        flex-direction: column;
        align-items: center;
    }

    .reviewsContainer > section:first-child{
        width: 90%;
        margin-right: 15px;
        min-height: 425px;
        border-bottom: 1px solid black;
    }

    .reviewsContainer > section:last-child{
        width: 100%;
        height: 60vh;
    }

    .commentsContainer > button{
        position: absolute;
        left: 28%;
        top: 6%;
        width: 45%;
    }

    .reviews{
        width: 90%;
    }

    .reviews > li:first-child{
        margin-top: 25%;
    }

    .reviews > li{
        border-right: none;
        border-left: none;
        margin-top: 5%;
    }
}

@media (max-width: 480px){
    .reviewsContainer > section:first-child{
        margin-right: 0;
        padding-bottom: 20px;
    }
}